{% raw %}
<div class="bc-left">
    <div class="quote-c" ng-repeat="quote in quotes">
        <input type="hidden" class="qid" value="{[ quote.id ]}" />
        <div class="quote-content">

            <div class="clearfix top" ng-if="quote.username != null">
                <div class="q-author pull-left">
                    <a ng-href="#/@{[ quote.username ]}">{[ quote.username ]}</a>
                </div><!-- author -->

                <div class="q-time pull-right">
                    <span>{[ quote.created | timeAgo ]}</span>
                </div><!-- author -->
            </div>

            <div>
                <div class="image" ng-if="quote.image_name">
                    <a ng-href="#/quotes/{[ quote.slug ]}/{[ quote.id ]}?ss={[ dif ]}">
                        <img ng-src="{[ cdnUrl ]}/qi/{[ dif ]}/{[ quote.image_name ]}"  alt="Quote Image"
                             title="{[ quote.quote ]}"
                        />
                    </a>
                </div>
                <div class="text text-center" ng-hide="quote.image_name">
                    <h3 class="q-text">
                        {[ quote.quote ]}
                    </h3>
                    <div class="q-author">
                        <p>{[ quote.author ]}</p>
                    </div>
                </div><!-- text -->
            </div>
        </div><!-- quote-content -->

        <div class="clearfix ts-grp">
            <div class="tags-c text-left col-sm-6" ng-if="quote.tags">
                <p>
                        <a ng-repeat="tag in quote.tags" ng-href="#/tag/{[ tag.name ]}">#{[ tag.name ]}</a>&nbsp;
                </p>
            </div><!-- tags-c -->
            <div class="social-share sq col-sm-6 text-right">
                <div class="qibh share">
                    <a title="Set Favourite" href="javascript:void(0);">
                        <div ng-if="isFav(quote.id);" class="favourite lbsi active {[ quote.id ]}"></div>
                        <div ng-if="!isFav(quote.id);" class="favourite lbsi" ng-class="loginClass"></div>
                    </a>
                </div><!-- qibh share-->

                <div class="more-cont share" ng-if="uid != -1">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" >
                        <div class="more" title="Show more"></div>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li ng-if="quote.user_id != null && quote.user_id == uid">
                            <a href="javascript:void(0);" class="_qr-a-x" title="Delete this quote">Delete</a>
                        </li>
                        {% endraw %}
                            {% if app.session.get('is_admin') %}
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_quotes_add') }}">Admin Options</a> </li>
                                {% if 'ROLE_SUPER_ADMIN' in app.session.get('roles') %}
                                    <li><a href="{{ path('admin_users') }}">Super Admin Options</a> </li>
                                {% endif %}
                            {% endif %}
                        {% raw %}
                    </ul>
                </div><!-- more-cont -->
            </div><!-- social-share -->
        </div><!-- ts-grp -->
        <div class="social-interaction clearfix">
            <div class="sql-cont col-sm-7 col-md-6">
                <div class="sq-lctr ctrs{[ quote.likes == 0?' hide':'' ]}">
                    <span class="l-ctr">{[ quote.likes ]}</span>
                    <span class="ctr-text" ng-if="quote.likes <= 1">like</span>
                    <span class="ctr-text" ng-if="quote.likes > 1">likes</span>
                </div><!-- sq-lctr -->
                <div class="sq-bctr ctrs{[ quote.favs == 0?' hide':'' ]}">
                    <span class="f-ctr">{[ quote.favs ]}</span>
                    <span class="ctr-text" ng-if="quote.favs <= 1">favorite</span>
                    <span class="ctr-text" ng-if="quote.favs > 1">favorites</span>
                </div><!-- sq-bctr -->
                <div class="sq-sctr ctrs{[ quote.shares == 0?' hide':'' ]}">
                    <span class="s-ctr">{[ quote.shares ]}</span>
                    <span class="ctr-text" ng-if="quote.shares <= 1">share</span>
                    <span class="ctr-text" ng-if="quote.shares > 1">shares</span>
                </div><!-- sq-sctr -->
            </div><!-- sql-cont -->
        </div><!-- social-interaction -->
        <div class="qc-bh">
            <div class="sqr-cont col-sm-12">
                <div class="sqrs">
                    <div class="vmc" ng-if="quote.comments.length > 5">
                        <a ng-href="#/quotes/{[ quote.slug ]}/{[ quote.id ]}"> view all comments </a>
                    </div>
                    <div class="sqr" ng-repeat="comment in quote.comments | limitTo: 5">
                        <input type="hidden" class="cid" name="cid" value="{[ comment.id ]}" />
                        <div class="comment">
                            <a ng-href="#/@{[ comment.username ]}">
                                {[ comment.username ]}
                            </a>
                            <div class="text">
                                {[ comment.comment ]}
                            </div>
                            <span ng-if="uid == comment.userId" class="_rct remove pull-right glyphicon glyphicon-remove"></span>
                        </div><!-- comment -->
                    </div><!-- sqr-->
                </div><!-- sqrs -->
            </div><!-- sqr-cont-->

            <div class="sqlc-cont clearfix">

                <div class="_aprct qilh pull-left">
                    <a href="javascript:void(0);">
                            <div ng-if="isLiked(quote.id);" class="like active {[ quote.id ]}"></div>
                            <div ng-if="!isLiked(quote.id);" class="like lbsi" ng-class="loginClass"></div>
                    </a>
                </div><!-- qilh-->

                <div class="comment-box pull-left">
                    <input placeholder="Add a comment" class="user-comment skeleton-control{[ loginClass ]}" wrap="off" />
                </div> <!-- comment box-->
            </div><!-- sqlc-cont-->
        </div><!-- qc-bh -->
    </div><!-- quote-c -->
    <div class="alert-info alert text-center" ng-show="quoteEmpty">
        <p>No result found.</p>
    </div>

    <div class="hasmore-cont ng-scope text-center" ng-if="hasMore > 0">
        <div class="loading">
            <button class="btn btn-primary btn-lg" ng-click="loadMore()">Load More</button>
        </div>
    </div>
</div>
{% endraw %}