body{
    background-color: rgba(0, 150, 136, 0.29);
}
a, a:focus, a:visited{
    outline: none;
    color: #ffffff;
}

#main{
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
}

#header{
    padding: 20px 10px 10px;
    border-bottom: 1px solid #009688;
}

#header .logo img{
    width: 100%;
}
#header .logo{
    padding: 0;
}
#header .logo a{
    display: block;
}
#header .top-right-ui-username {
    margin-top: 10px;
    font-size: 14px;
}

#header .text-right a.dropdown-toggle:hover, #header .text-right a.dropdown-toggle:focus,#header .text-right a.dropdown-toggle:active{
    background-color: #009688;
    color: #fff;
}
#header .text-right a.dropdown-toggle{
    color: #555;
    font-size: 16px;
}
#admin .table td:last-child, #admin .table th:last-child{
    text-align: center;
}
#admin .table, #admin .table tr td, #admin .table tr th{
    /*border-color: #fff;*/
}
#admin #content {
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-radius: 4px;
}
#admin #sidebar{
}
#admin #sidebar .list-group-item a{
    color: #c9b029;
    display: block;
    text-decoration: none;
}
#admin #sidebar .list-group-item a:hover, #admin #sidebar .list-group-item a:active, #admin #sidebar .list-group-item a:visited{
    color: #c9b029;
}
#admin #sidebar .list-group-item.active{
    background-color: #009688;
}
#admin #sidebar .list-group-item.active a{
    color: #ffffff;
}
#admin h2{
    color: #107d72;
    margin-top: 0;
}

.addForm {
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
}