{% extends '::base.html.twig' %}

{% block body %}

    <div id="homepage" class="clearfix" ng-app="ahApp" ng-controller="ArticleController">

        <div class="col-sm-12 col-md-offset-2 col-md-8 home_common" id="content">

            <div class="posts-group">
                <div class="postbox">

                    <form class="form" name="caForm" novalidate ng-submit="caForm.$valid && addArticle()">

                        <div class="form-group">
                            <textarea
                                    ng-required="true"
                                    ng-model="articleLink"
                                    class="form-control"
                                    name="article-link"
                                    id="article-link"
                                    placeholder="Paste a link here to share"></textarea>
                        </div>
                        <div class="postinfo">
                            <div id="atags">
                                <div class="list" ng-if="atags">
                                    <span class="label" ng-repeat="tag in atags">
                                        <span class="tag">#{[ tag.name ]}</span>
                                        <span class="glyphicon glyphicon-remove" ng-click="removeTag($event)"></span>
                                    </span>
                                </div>
                                <input class="form-control" ng-keypress="addTags($event)" type="text" placeholder="Type and press ENTER to add tags"/>
                            </div>

                            <div class="clearfix">
                                <div class="categories pull-left">
                                    <label for="article-category" class="sr-only">Choose Category</label>
                                    <div class="form-group">
                                        <select
                                                class="form-control"
                                                name="category"
                                                id="article-category"
                                                ng-required="true"
                                                ng-model="articleCategory"
                                                >
                                            <option value="" disabled="disabled" selected="selected">Choose Category</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name | title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-warning btn-md pull-right" type="submit" ng-disabled="  caForm.$invalid">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Add Article
                                </button>
                            </div>
                        </div>
                    </form>

                </div><!-- postbox -->

                <div class="loading" ng-if="articles == null">
                    <h3>Loading...</h3>
                </div>
                <div class="posts" ng-if="articles">

                    <div class="post" ng-repeat="article in articles track by $index">
                        <div class="link-group">
                            <div class="_ltop clearfix">
                                <a class="text-primary pull-left" ng-href="{[ article.userProfileLink ]}">{[ article.username ]}</a>
                                <p class="pull-right text-muted">{[ article.createdAt | timeAgo ]}</p>
                            </div>
                            <a ng-href="{[ article.link ]}" target="_blank">
                                <img ng-src="{[ article.imageUrl ]}" alt="Article Photo"/>
                                <div class="info">
                                    <h3>{[ article.title ]}</h3>
                                    <p>{[ article.description ]}</p>
                                </div>
                            </a>
                        </div><!-- link-group -->
                        <div class="tags-group clearfix">
                            <div class="list pull-left" ng-if="article.tags">
                                <span class="label" ng-repeat="tag in article.tags">
                                    <a ng-href="{[tag.url]}" class="tag">#{[ tag.name ]}</a>
                                </span>
                            </div>
                            <div class="pull-right" ng-if="article.category">
                                Category: <a class="text-muted" href="{[ article.category.url]}">{[ article.category.name ]}</a>
                            </div>
                        </div>
                        <div class="interaction clearfix">
                            <div class="likec pull-left">
                                <button ng-click="like($event, article.id, -1)" class="btn btn-xs btn-primary" ng-if="article.userLikes">
                                    <span class="likeText">Unlike</span>
                                </button>
                                <button ng-click="like($event, article.id, 1)" class="btn btn-xs btn-primary" ng-if="!article.userLikes">
                                    <span class="likeText">Like</span>
                                </button>
                            </div>
                            <div class="metrics pull-right">
                                <span class="lctr">{[ article.likeIds.length ]}</span> Likes
                                <span class="cctr">{[ article.comments.length ]}</span> Comments
                            </div>
                        </div>

                        <div class="commentsbox">

                            <div class="commentinput">
                                <input type="text"
                                       class="form-control"
                                       id="usercomment"
                                       placeholder="Write a comment..."
                                       ng-model="articleComment"
                                       ng-keypress="addComment($event, article.id)"
                                />
                            </div><!-- commentinput -->

                            <div class="comments">
                                <div class="sqr" ng-repeat="comment in article.comments | limitTo: 10 | orderBy: comment.createdAt: true" ng-if="article.comments.length != 0">
                                    <input type="hidden" class="cid" name="cid" value="{[ comment.id ]}" />
                                    <div class="comment">
                                        <a ng-href="{[ comment.userProfileLink ]}">
                                            {[ comment.username ]}
                                        </a>
                                        <div class="text">
                                            {[ comment.comment ]}
                                        </div>
                                        <span ng-if="uid == comment.userId" ng-click="removeComment($event, article.id, comment.id)" class="_rct remove pull-right glyphicon glyphicon-remove"></span>
                                    </div><!-- comment -->
                                </div><!-- sqr-->
                            </div><!-- comments -->
                        </div><!-- commentsbox -->

                    </div><!-- post -->

                </div><!-- posts -->

            </div><!-- psots-group -->

        </div><!-- content -->

    </div><!-- homepage -->

{%  endblock %}